/* Alternative way of importing another style or css in your current css file, other options is to add it as a link style sheet in your html */


/* Apply below style to all elements in the page */

* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* avoids the box-model issue and make sure the width of the container you provide does not get stretched if you add margin padding border to the container */
    outline: none;
    border: none;
    text-decoration: none;
    /* remove under from anchor tag */
    text-transform: capitalize;
    /* make the 1st letter to be capital */
    overflow: hidden;
    /* clip off the extra text which is going out of the box */
    scroll-behavior: smooth;
    /* when scrolling will happen it should have smooth effect */
}


/* style the menu section */

.header {
    position: fixed;
    /* it will make the menu fixed if you are scrolling down through the page */
    top: 0;
    left: 0;
    right: 0;
    background: rgb(70, 167, 70);
    height: 65px;
    z-index: 100;
    /* header should always raised like a 3D view */
}

.header .nav-bar {
    display: flex;
    /* making it flex container will help us move items inside it */
}

.header .nav-bar a {
    flex: 1;
    /* every anchor tag should take equal space in the whole row */
    text-align: center;
    /* algin the text inside every anchor to horizontally center */
    font-size: 22px;
    line-height: 65px;
    /* space between two lines, also helps to align element vertically center */
    color: aliceblue;
}


/* apply pseudo selector hover and change the brightness */

.header .nav-bar a:hover {
    filter: brightness(0.8);
}


/* apply different background color on each anchor menu item */

.header .nav-bar a:nth-child(1) {
    background: rgb(224, 27, 27);
}

.header .nav-bar a:nth-child(2) {
    background: rgb(27, 224, 86);
}

.header .nav-bar a:nth-child(3) {
    background: rgb(27, 211, 224);
}

.header .nav-bar a:nth-child(4) {
    background: rgb(194, 224, 27);
}

.header .nav-bar a:nth-child(5) {
    background: rgb(145, 27, 224);
}